<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>EditTaxiServlet</servlet-name>
        <servlet-class>servlet.EditTaxiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTaxiServlet</servlet-name>
        <servlet-class>servlet.ListTaxiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTaxiServlet</servlet-name>
        <url-pattern>/EditTaxiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTaxiServlet</servlet-name>
        <url-pattern>/ListTaxiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>